body{
    background-color: rgb(10, 21, 27);
    color: aliceblue;
}

nav {
position: fixed;
top: 0;
left: 0;
height: 40px;
width: 100%;
display: flex;
align-items: center;
background-color: rgb(215, 223, 231);
border-bottom: 1px solid rgb(140, 150, 160);
}

nav > ul {
display: flex;
flex-direction: row;
gap: 15px;
list-style-type: none;
margin: 0;
}

nav a {
color: rgb(9, 8, 88);
font-weight: 700;
text-decoration: none;
}

nav a:hover {
color: rgb(31, 190, 16);
font-weight: 700;
text-decoration: none;
}

main{
    margin-top: 15%;
    text-align: center;
}
footer{
    text-align: right;
}
.row::after{
   content: "";
  display: table;
  clear: both;
}
@media screen and (width <= 700px){
   body{ background-color: white;
        color:black;
        }   
    nav > ul {
    flex-direction: column;
    }
    nav {
    top: 0;
    left: 0;
    height: 80px;
    padding: 10px 0 10px 0;
    }
    main{
    margin-top: 20%;
    }
    nav a {
    color: rgb(165, 5, 5);
    }
}